﻿<!DOCTYPE html>
<!-- Designating the root element of the application -->
<html ng-app="myApp">
<head>
    <title>Example_02</title>
    <!-- Get AngularJS in Project -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="controllerName">
        <h1>{{message}}</h1>
    </div>
</body>
</html>
