﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Filter Data With AngularJS</title>
    <!-- Get Bootstrap and Angular-->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">Sorting and Filtering</h1>
        </div>
        
        <!-- Set up Controller -->
        <div ng-controller="AvengersCtrl as avengersCtrl">
            
            <!-- Input Section -->
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <!--searchFilter correlates with filter below -->
                <input class="form-control" type="text" ng-model="searchFilter">
            </div>
            
            <!-- Table -->
            <table class="table table-striped">
                <tr ng-repeat="actor in avengersCtrl.avengers.cast | filter:searchFilter">
                    <td>{{actor.name}}</td>
                    <td>{{actor.character}}</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery-2.1.3.min.js"></script>
</body>
</html>