﻿<!DOCTYPE html>
<!-- Designating the root element of the application -->
<html ng-app="">
<head>
    <title>Example_01</title>
    <!-- Get AngularJS in Project -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
</head>
    <body>
        <h1>{{"Hello Class!"}}</h1>

        <h1>{{"5 + 10 = "}} {{5 + 10}}</h1>
    
        <!-- Interact with Bootstrap Components -->
        <input type="text" ng-model="message">
        <div ng-class="message">
            <h1>{{message}}</h1>
            <div class="{{message}}">
                <h4>Wrap me in a bootstrap component.</h4>
            </div>
        </div>
    </body>
</html>
