﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Example_04</title>
    <!-- Get Bootstrap and Angular-->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">
                Sorting and Filtering
            </h1>
        </div>

        <!-- AngularJS App -->
        <div ng-controller="MyCtrl">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>

                <!-- Input -->
                <input class="form-control" type="text" ng-model="search" />
            </div>

            <!-- Table Data -->
            <table class="table table-striped">
                <tr ng-repeat="avenger in avengers | filter: search | orderBy: 'name' ">
                    <td>{{avenger.name}}</td>
                    <td>{{avenger.character}}</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery-2.1.3.min.js"></script>
</body>
</html>