﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Example_03</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="myController">
        <h1>{{title}}</h1>
        Value = {{value}} <input type="button" ng-click="incrementor()" value="+"/>
    </div>
</body>
</html>
